body{
    background-color: hsl(221, 100%, 96%);
}


.result{
    display: flex;
    flex-direction: column;
    background-color:  hsl(252, 100%, 67%);
    border-radius: 20px;
    padding: 20px;
}

.summary{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.summary-item-reaction{
    background-color: hsl(0, 100%, 67%);
}

.score-circle{
    background-color:  hsla(256, 72%, 46%, 1);
    margin-left: 200px;
    margin-right: 200px;
}

.container{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    
    
}
